<section id="app">
  <h1>${ message }</h1>

  <h3>Movie:</h3>
  <pre>{{defaultMovie}}</pre>

  <h3>Data:</h3>
  <pre>{{data}}</pre>

  {{#each data}}
    <img src="{{movies_cover}}" alt="" class="movie-thumb">
  {{/each}}
</section>
